:host {
    position: relative;

    >.image-background {
        height: 100%;
        width: 100%;
        overflow: hidden;
        cursor: none;

        > .image {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }

    > .version-label {
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
    }
}
