:host {
    >.image-background {
        height: 100%;
        width: 100%;
        overflow: hidden;

        > .image {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }
}
